<div [@routerTransition]>
  <div class="m-content">
    <div class="m-portlet m-portlet__header m-portlet-mobile">
      <div class="m-portlet__nav">
        <ul>
          <li><a routerLink="/app/admin/model-car-add"><i class="flaticon-add"></i>
              Thêm mới</a></li>
          <li><a [routerLink]="['/app/admin/model-car-edit']"><i class="flaticon-edit"></i> Chỉnh
              sửa</a></li>
          <li disabled><a><i class="flaticon-edit"></i>Xóa</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-subheader">
      <div class="d-flex align-items-center">
        <div class="mr-auto col-xs-6">
          <span class="m-section__sub m-section__sub--separator">
            {{l("Trang chủ")}}
          </span>
          <span class="m-section__sub m-section__sub--separator active">
            <a routerLink="/app/admin/model-car">{{l("Quản lý loại xe")}} {{currentUserName}}</a>
          </span>
        </div>
      </div>
    </div>

    <!-- #region -->
    Code here
    <!-- #endregion -->

  </div>
</div>